@import "tailwindcss";
@plugin '../lib/hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

body {
  font-family: var(--gruppo);
}

.border-default-200 {
  border: 1px solid #000000;
}

.bg-content1 {
  background-color: #ffffff;
}

svg.lucide {
  width: 24px;
  height: 24px;
  stroke-width: 1px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
